<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Philomena Cunk</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="homepage">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="works">Works</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="hero-section">
        <div class="title-container">
          <h1>Philomena Cunk</h1>
        </div>
        <div class="cover-container">
          <img src="images/cover1.jpg" alt="Philomena Cunk" />
        </div>
      </section>

      <div class="intro">
        <p>
          Welcome to the world of Philomena Cunk! Explore the comedic genius of
          this satirical commentator, mockumentary presenter, and comedy
          personality.
        </p>
      </div>

      <div class="featured-content">
        <h2>Featured Content</h2>
        <div id="cunk-on-britain">
          <div class="image-container">
            <img src="images/cunk-on-britain.jpg" alt="Cunk of Britain" />
          </div>
          <div>
            <p>
              <strong>"Cunk on Britain"</strong> - Join Philomena Cunk on her
              hilarious journey through British history, where she provides
              unique and comically misguided insights into the country's past.
            </p>
            <div class="video-container">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/watch?v=MUM89s4N2BQ"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <div id="cunk-on-earth">
          <div class="image-container">
            <img src="images/cunk-on-earth.jpg" alt="Cunk of Britain" />
          </div>
          <div>
            <p>
              <strong>"Cunk on Earth"</strong> - Delve into the absurd as
              Philomena Cunk humorously explores the history and nature of our
              planet, offering her own comedic take on various scientific and
              historical subjects.
            </p>
            <div class="video-container">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/watch?v=Hm6AOHq9OL4"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <div id="charlie-brooker">
          <div class="image-container">
            <img src="images/cunk-on-earth.jpg" alt="Cunk of Britain" />
          </div>
          <div>
            <p>
              <strong>"Charlie Brooker's Weekly Wipe"</strong> - Catch Philomena
              Cunk's regular appearances on this satirical news and current
              affairs show, where she delivers her humorous take on the latest
              events and trends.
            </p>
            <div class="video-container">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/watch?v=MUM89s4N2BQ"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="funny-memes">
        <h2>Funny Memes</h2>
        <div class="meme-pics">
          <div>
            <img src="images/meme1.jpeg" alt="meme1" />
          </div>
          <div>
            <img src="images/meme2.jpeg" alt="meme2" />
          </div>
          <div>
            <img src="images/meme3.jpeg" alt="meme3" />
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; This is a fake website, so it doesn't really matter</p>
    </footer>
  </body>
</html>
