<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Philomena Cunk</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="works">Works</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="content">
        <h2>"Cunk on Britain"</h2>
        <p>
          Brace yourselves for a comical rollercoaster ride through British
          history with the one and only Philomena Cunk! In the series "Cunk on
          Britain," Philomena hilariously butchers historical events, eras, and
          important figures. With her unparalleled ability to misinterpret facts
          and a complete disregard for accuracy, she takes you on a satirical
          journey that will leave you questioning your own knowledge of history.
          Who needs accuracy when you have Philomena Cunk to offer her
          gloriously misguided insights?
        </p>

        <h2>"Cunk on Earth"</h2>
        <p>
          Prepare for a laughably absurd adventure into the realms of science
          and history with "Cunk on Earth"! Philomena Cunk, the master of
          misinterpretation, tackles the grandeur of our planet Earth. From the
          creation of the Earth (or was it a giant cake?) to the origin of life
          (apparently, it all started with a game of rock-paper-scissors), and
          the rise of human civilization (who needs facts when you have
          fictional anecdotes?), Philomena's nonsensical and side-splitting
          commentary will have you questioning everything you thought you knew
          about the world.
        </p>

        <h2>"Charlie Brooker's Weekly Wipe"</h2>
        <p>
          Philomena Cunk, the epitome of intellectual confusion, graces "Charlie
          Brooker's Weekly Wipe" with her presence. In her appearances, she
          takes on the role of a self-proclaimed expert, sharing her bewildering
          insights on current events, trends, and news stories. With her
          distinctive deadpan delivery and a penchant for misunderstanding even
          the simplest of facts, Philomena adds a touch of surrealism and
          hilarity to the show. Who needs actual information when you can have
          Philomena Cunk's wacky interpretation of the world?
        </p>
      </div>
    </main>

    <footer>
      <p>&copy;This is a fake website, so it doesn't really matter</p>
    </footer>
  </body>
</html>
